.authority-identifier
  font-weight: bold

.bucket-label
  color: black

.bucket-count
  color: gray

.bucket-link
  text-decoration: none

.bucket-selected
  font-weight: bolder

.static-table
  th
    text-align: right

.persistent-identifier-left
  border: 1px solid grey

.tagged-tag
  border: 1px solid var(--q-primary)
  background: var(--q-primary) !important
  color: white !important


.loading
  opacity: 0.3

.records-list
  -webkit-transition: all .2s linear
  -moz-transition: all .2s linear
  -o-transition: all .2s linear
  transition: all .2s linear